{% extends "layout.html" %}

{% block title%}
    Login
{% endblock%}

{% block content %}

    <h3>Enter Username and Password to Login</h3>
    <form action="/login" method="POST">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password"/>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>

{% endblock %}